<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.market.dao.AdminDAO">	<!-- DAO 인터페이스가 있는 파일명 -->
<select id="selectAllMemberList" resultType="kr.green.market.vo.MemberVO">
	select * from member 
		where grade != 'admin'
</select>
<select id="selectRequestSellerList" resultType="kr.green.market.vo.SellerVO">
	select * from seller
		where state = '승인대기'
</select>
<update id="updateAgreeSeller">
	update seller
		set state = #{sVo.state}, valid = #{sVo.valid}
		where id = #{sVo.id}
</update>
<select id="selectCouponList" resultType="kr.green.market.vo.CouponVO">
	select * from coupon
		where valid = 'I'
		order by no desc
</select>
<update id="modifyCoupon">
	update coupon
		set title = #{cVo.title}, discount = #{cVo.discount}, period = #{cVo.period}, state = #{cVo.state}, valid = #{cVo.valid}
		where no = #{cVo.no}
</update>
<insert id="insertCoupon">
	insert into coupon(title, discount, period)
		values(#{cVo.title}, #{cVo.discount}, #{cVo.period})
</insert>
<select id="selectMaxCouponNo" resultType="int">
	select max(no) from coupon
</select>
<select id="selectCoupon" resultType="kr.green.market.vo.CouponVO">
	select * from coupon
		where no = #{no}
</select>
<insert id="insertBoard">
	insert into board(`category`, `writer`, `title`, `contents`)
		values(#{bVo.category}, #{bVo.writer}, #{bVo.title}, #{bVo.contents})
</insert>
<select id="selectBoardListAll" resultType="kr.green.market.vo.BoardVO">
	select * from board
		where category = '공지사항'
		order by no desc
</select>
</mapper>