<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.market.dao.BoardDAO">	<!-- DAO 인터페이스가 있는 파일명 -->
<insert id="insertBoard">
	insert into board(category, board_no, item_no, writer, title, contents, state)
		values(#{category}, #{board_no}, #{item_no}, #{writer}, #{title}, #{contents}, #{state})
</insert>
<select id="selectMaxBoard" resultType="int">
	select max(no) from board
</select>
<select id="selectBoard" resultType="kr.green.market.vo.BoardVO">
	select * from board
	where no = #{no}
</select>
<select id="selectAskListAll" resultType="kr.green.market.vo.BoardVO">
	select * from board
	where category like '%문의' and board_no = #{board_no}
	order by no desc
</select>
<select id="selectMyAskList" resultType="kr.green.market.vo.BoardVO">
	select * from board
	where category like '%문의' and board_no = #{board_no} and writer = #{writer}
	order by no desc
</select>
<select id="selectCommentList" resultType="kr.green.market.vo.CommentVO">
	select * from comment
	where board_no = #{board_no}
	order by no desc
</select>
<insert id="insertComment">
	insert into `comment`(category, board_no, writer, `to`, contents)
		values(#{category}, #{board_no}, #{writer}, #{to}, #{contents})
</insert>
<select id="selectMaxComment" resultType="int">
	select max(no) from `comment`
</select>
<select id="selectComment" resultType="kr.green.market.vo.CommentVO">
	select * from `comment`
	where no = #{no}
</select>
<update id="updateBoardState">
	update board
		set state = #{state}
		where no = #{no}
</update>
<select id="selectReply" resultType="kr.green.market.vo.BoardVO">
	select * from board
		where board_no = #{board_no} and category = '문의답변'
</select>
<update id="updateReply">
	update board
		set contents = ${bVo.contents}, time = now()
		where board_no = #{bVo.board_no} and category = '문의답변'
</update>
<select id="selectReplyList" resultType="kr.green.market.vo.BoardVO">
	select * from board
		where item_no = #{item_no} and category = '문의답변'
</select>
</mapper>
