<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.market.dao.DeliveryDAO">	<!-- DAO 인터페이스가 있는 파일명 -->
<select id="selectDeliveryListAll" resultType="kr.green.market.vo.DeliveryVO">
	select * from delivery 
	where company is null 
</select>
<select id="selectDelivery" resultType="kr.green.market.vo.DeliveryVO">
	select * from delivery
	where no = #{no}
</select>
<update id="updateDelivery">
	update delivery
		set company = #{dVo.company}, deliverer = #{dVo.deliverer}, phone = #{dVo.phone}, startTime = now()
		where no = #{dVo.no}
</update>
<update id="updateEndDelivery">
	update delivery
		set endTime = now()
		where no = #{dVo.no}
</update>
</mapper>