<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.market.dao.ItemDAO">	<!-- DAO 인터페이스가 있는 파일명 -->
<insert id="insertItem">
	insert into item(seller_id, category_no, title, price)
		values(#{seller_id}, #{category_no}, #{title}, #{price})
</insert>
<select id="selectItemNo" resultType="int">
	select max(no) from market.item
</select>
<insert id="insertOption">
	insert into market.option(item_no, option.select, detail, stock, price)
		values(#{oVo.item_no}, #{oVo.select}, #{oVo.detail}, #{oVo.stock}, #{oVo.price})
</insert>
<insert id="insertFile">
	insert into market.file(item_no,route)
		 values(#{item_no}, #{file})
</insert>
<select id="selectFile" resultType="String">
	select min(route) from market.file
	where item_no = #{item_no}
</select>
<select id="selectItem" resultType="kr.green.market.vo.ItemVO">
	select * from market.item
	where item.no = #{no}
</select>
<update id="updateItem">
	update market.item
	set category_no = #{iVo.category_no}, item.title = #{iVo.title}, item.file = #{iVo.file}, commend = #{iVo.commend}
	where item.no = #{iVo.no}
</update>
<select id="selectItemList" resultType="kr.green.market.vo.ItemVO">
	select * from market.item;
</select>
<select id="selectFiles" resultType="kr.green.market.vo.FileVO">
	select * from market.file
	where item_no = #{item_no}
</select>
<select id="selectSeller" resultType="kr.green.market.vo.SellerVO">
	select * from seller
	where id = #{id}
</select>
<select id="selectOptions" resultType="kr.green.market.vo.OptionVO">
	select * from `option`
	where item_no = #{item_no}
</select>
<select id="selectDetails" resultType="kr.green.market.vo.OptionVO">
	select * from `option`
	where item_no = #{item_no} and `select` = #{select}
</select>
<select id="selectOption" resultType="kr.green.market.vo.OptionVO">
	select * from `option`
	where no = #{no}
</select>
<select id="selectCouponList" resultType="kr.green.market.vo.CouponBagVO">
	select * from couponBag
	where id = #{id} and valid = "I"
</select>
</mapper>