<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.market.dao.ItemDAO">	<!-- DAO 인터페이스가 있는 파일명 -->
<insert id="insertItem">
	insert into item(seller_id, category_no, title, price)
		values(#{seller_id}, #{category_no}, #{title}, #{price})
</insert>
<select id="selectItemNo" resultType="int">
	select max(no) from market.item
</select>
<insert id="insertOption">
	insert into market.option(item_no, option.select, detail, stock, price)
		values(#{oVo.item_no}, #{oVo.select}, #{oVo.detail}, #{oVo.stock}, #{oVo.price})
</insert>
<insert id="insertFile">
	insert into market.file(item_no,route)
		 values(#{item_no}, #{file})
</insert>
<select id="selectFile" resultType="String">
	select min(route) from market.file
	where item_no = #{item_no}
</select>
<select id="selectItem" resultType="kr.green.market.vo.ItemVO">
	select * from market.item
	where item.no = #{no}
</select>
<update id="updateItem">
	update market.item
	set category_no = #{iVo.category_no}, item.title = #{iVo.title}, item.file = #{iVo.file}, commend = #{iVo.commend}
	where item.no = #{iVo.no}
</update>
<select id="selectItemList" resultType="kr.green.market.vo.ItemVO">
	select * from market.item;
</select>
<select id="selectFiles" resultType="kr.green.market.vo.FileVO">
	select * from market.file
	where item_no = #{item_no}
</select>
<select id="selectSeller" resultType="kr.green.market.vo.SellerVO">
	select * from seller
	where id = #{id}
</select>
<select id="selectOptions" resultType="kr.green.market.vo.OptionVO">
	select * from `option`
	where item_no = #{item_no}
</select>
<select id="selectDetails" resultType="kr.green.market.vo.OptionVO">
	select * from `option`
	where item_no = #{item_no} and `select` = #{select}
</select>
<select id="selectOption" resultType="kr.green.market.vo.OptionVO">
	select * from `option`
	where no = #{no}
</select>
<select id="selectCouponList" resultType="kr.green.market.vo.CouponBagVO">
	select * from couponBag
	where id = #{id} and valid = "I"
</select>
<select id="selectCoupon" resultType="kr.green.market.vo.CouponVO">
	select * from coupon
	where no = #{no}
</select>
<insert id="insertBuy">
	insert into buy(id, item_no, option_no, buy.select, detail, buy.count, price, request, image)
		values(#{bVo.id}, #{bVo.item_no}, #{bVo.option_no}, #{bVo.select}, #{bVo.detail}, #{bVo.count}, #{bVo.price}, #{bVo.request}, #{bVo.image})
</insert>
<select id="selectMaxBuy" resultType="int">
	select max(no) from buy
</select>
<select id="selectBuy" resultType="kr.green.market.vo.BuyVO">
	select * from buy
	where no = #{no}
</select>
<insert id="insertDelivery">
	insert into delivery(buy_no, seller_name, contents, request, delivery.start, delivery.end)
		values(#{dVo.buy_no}, #{dVo.seller_name}, #{dVo.contents}, #{dVo.request}, #{dVo.start}, #{dVo.end})
</insert>
<select id="selectMaxDelivery" resultType="int">
	select max(no) from delivery
</select>
<select id="selectDelivery" resultType="kr.green.market.vo.DeliveryVO">
	select * from delivery
	where no = #{no}
</select>
<update id="updateBuy">
	update buy
		set request = #{bVo.request}, state = #{bVo.state}, valid = #{bVo.valid}, image = #{bVo.image}
		where no = #{bVo.no}
</update>
<select id="selectBuyList" resultType="kr.green.market.vo.BuyVO">
	select * from buy
	where id = #{id}
</select>
<select id="selectWishlistAdd" resultType="kr.green.market.vo.WishlistVO">
	select * from wishlist
	where id = #{id} and item_no = #{item_no}
</select>
<insert id="insertWishlist">
	insert into wishlist(id, item_no, image, item_name, item_price)
		values(#{wVo.id}, #{wVo.item_no}, #{wVo.image}, #{wVo.item_name}, #{wVo.item_price})
</insert>
<select id="selectWishlistAll" resultType="kr.green.market.vo.WishlistVO">
	select * from wishlist
	where id = #{id} and valid = "I"
</select>
<select id="selectWishlistDelete" resultType="kr.green.market.vo.WishlistVO">
	select * from wishlist
	where no = #{no}
</select>
<update id="updateWishlist">
	update wishlist
		set image = #{wVo.image}, item_name = #{wVo.item_name}, item_price = #{wVo.item_price}, valid = #{wVo.valid}
		where no = #{wVo.no}
</update>
<insert id="insertBag">
	insert into market.bag(id, item_no, option_no, `select`, detail, `count`, price, image)
		values(#{bVo.id}, #{bVo.item_no}, #{bVo.option_no}, #{bVo.select}, #{bVo.detail}, #{bVo.count}, #{bVo.price}, #{bVo.image})
</insert>
<select id="selectBagList" resultType="kr.green.market.vo.BagVO">
	select * from bag
	where id = #{id} and valid = 'I'
</select>
</mapper>